<div ng-controller="MobileController">
    <ul class="thumbnails" ng-controller="ContentController">
        <li class="span5 aachen-joke" ng-tap="loadMore()">
            <h4>{{items[cnt].Category}}</h4>
            <div ng-bind-html="items[cnt].Description" class="aachen-joke-content"></div>
            <br/>
            <a ng-href="{{items[cnt].ResourceUrl}}" ng-bind-html="items[cnt].ResourceName" target="_blank"></a>
            <span ng-bind-html="  items[cnt].CreatedDate"></span>
            <hr/>
            <div class="aachen-rating">
                <a class="btn" ng-click="updateRating(items[cnt], 1)">+</a>
                <span class="btn disabled">{{items[cnt].Rating}}</span>
                <button class="btn" ng-click="updateRating(items[cnt], -1)">-</button>
            </div>
            
            <div class="featured-container" ng-switch on="featured.indexOf(items[cnt].Id) >= 0" >
                <a ng-switch-when="false" class="btn" ng-click="addFeatured(items[cnt])"><div class="featured"></div></a>
                <a ng-switch-when="true" class="btn" ng-click="removeFeatured(items[cnt])"><div class="not-featured"></div></a>
            </div>

            <button class="btn" ng-click="loadMore()">></button>
            
        </li>
    </ul>
</div>

