<div ng-controller="NewController" ng-scroll="loadMore()">
    <ul class="thumbnails" ng-controller="ContentController">
        <li class="span5 aachen-joke" 
             ng-repeat="item in items"
             ng-repeat-finished="alignContent()">
            <div ng-bind-html="item.Description" class="aachen-joke-content"></div>
            <a ng-href="{{item.ResourceUrl}}" ng-bind-html="item.ResourceName" target="_blank"></a>
            <hr/>
            <div class="aachen-rating">
                <a class="btn" ng-click="updateRating(item, 1)">+</a>
                <span class="btn disabled">{{item.Rating}}</span>
                <button class="btn" ng-click="updateRating(item, -1)">-</button>
            </div>
        </li>
    </ul>
</div>

