<div ng-controller="TopRatedController" ng-scroll="loadMore()">
    <ul class="thumbnails" ng-controller="ContentController">
        <li class="span5 aachen-joke" 
             ng-repeat="item in items"
             ng-repeat-finished="alignContent()">
            <div ng-bind-html="item.Description" class="aachen-joke-content"></div>
            <hr/>
            <div class="aachen-rating">
                <a class="btn" ng-click="updateRating(item, 1)">+</a>
                <span class="btn disabled">{{item.Rating}}</span>
                <button class="btn" ng-click="updateRating(item, -1)">-</button>
            </div>

			<div ng-switch on="featured.indexOf(item.Id) >= 0" >
                <a ng-switch-when="false" class="btn" ng-click="addFeatured(item)" title="Добавить в избранное"><div class="featured"></div></a>
                <a ng-switch-when="true" class="btn" ng-click="removeFeatured(item)" title="Убрать из избранного"><div class="not-featured"></div></a>
            </div>
        </li>
    </ul>
</div>

