@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en" ng-app="aachen.app">
<head>
    <meta charset="utf-8">
    <title>Лангуст - лучшие анекдоты</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/aachen/css")      
</head>
    
<body ng-controller="BaseController">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">Лангуст</a>
                <div class="nav-collapse collapse aachen-top-menu">
                    <ul class="nav">
                        <li ng-class="{ active: activePath=='/' }"><a href="#">Новые</a></li>
                        <li ng-class="{ active: activePath=='/toprated' }"><a href="/#toprated">Лучшие</a></li>
                        <li ng-class="{ active: activePath=='/featured' }"><a href="/#featured">Избранное</a></li>
                        <li ng-class="{ active: activePath=='/categories' || activePath=='/bycategory' }"><a href="/#categories">По категориям</a></li>
                        <li ng-class="{ active: activePath=='/mobile' }"><a href="/#mobile">Мобайл</a></li>
                        <!--<li ng-class="{ active: activePath=='/add' }"><a href="#add">Добавить</a></li>-->
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
      
    <div class="container">
        <div class="aachen-content">
            <ng:view></ng:view>
        </div>
        
        <hr>
        <footer>
            <div id="aachen-loading">
                <img alt="Loading..." src="../../content/images/loading.gif">
                <div>Загрузка...</div>
            </div>
        </footer>
    </div>

    <script src="~/Content/js/loader.js"></script>
</body>
</html>






