<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Aachen" connectionString="Data Source=sql09-12-eng.corp.parking.ru;Initial Catalog=oloktyev_6;User ID=oloktyev_6;Password=y1vcXg3T9," providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>