<!DOCTYPE html>
<html lang="en" ng-app="AachenApp">
    <head>
        <meta charset="utf-8">
        <title>Jokes portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/Aachen.css" rel="stylesheet" />
        
    </head>
    
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Aachen</a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">
                            Logged in as <a href="#" class="navbar-link">Username</a>
                        </p>
                        <ul class="nav">
                            <li class="active"><a href="#">Новые</a></li>
                            <li><a href="#about">Избранное</a></li>
                            <li><a href="#contact">Категории</a></li>
                            <li><a href="#contact">Лучшие</a></li>
                            <li><a href="#contact">Добавить</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
      
        <div class="container">
            <div class="aachen-content" ng-controller="RecentJokesController" ng-scroll="LoadMore()">
                <ul class="thumbnails">
                    <li class="span5 aachen-joke" 
                        ng-repeat="item in items">
                        <div ng-bind-html="item.Description"></div>
                        <a ng-href="{{item.ResourseURL}}" ng-bind-html="item.ResourseName" target="_blank"></a>
                    </li>
                </ul>
            </div>

            <hr>
            <footer>
                <p>&copy; Company 2012</p>
            </footer>
        </div><!--/.fluid-container-->
    </body>
</html>

<script src="~/Scripts/Libs/Jquery/jquery-1.9.1.js"></script>
<script src="~/Scripts/Libs/Angular/angular.js"></script>
<script src="~/Scripts/Libs/Angular/angular-resource.js"></script>
<script src="~/Scripts/Libs/Angular/angular-sanitize.js"></script>
<script src="~/Scripts/Modules/JokesController.js"></script>


