@using Aachen.Web.ViewModels
@model JokesViewModel

<link href="@Url.Content("~/Content/Joke.css")" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Jokes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderPartial("_PagingPartial", new PagingViewModel { PageCount = Model.PageCount, SelectedPage = Model.SelectedPage });
}

@foreach (var item in Model.Jokes)
{
    <div class="jokeDate">
        <small>
            @string.Format("{0:d MMMM yyyy}, ", item.CreatedDate)
            <a href=@string.Format("http://{0}", item.WebResourceUrl)>@item.WebResourceUrl</a>
        </small>
    </div>
    <div class="jokeText">@Html.Raw(item.Description)</div>
}
<p/>
@{
    Html.RenderPartial("_PagingPartial", new PagingViewModel { PageCount = Model.PageCount, SelectedPage = Model.SelectedPage });
}

